
body {
  font-family: Arial, sans-serif;
  background-color: var(--light-color);
  color: var(--dark-color);
  min-height: 100vh;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--dark-color);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input{
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: white;
  padding: 10px 20px;
  outline: none;
  transition: all 0.3s ease;
}

input:hover{
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 5px var(--hover-color);
}

input:focus{
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 5px var(--hover-color);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  padding: 10px 20px;
}

.form-row {
  display: flex;
  gap: 15px;
}

@media screen and (max-width: 560px) {
  .form-row {
    flex-direction: column;
  }
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.error-message {
  color: rgb(209, 24, 24);
}

.btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: var(--hover-color);
  box-shadow: 0 0 5px var(--hover-color);
  scale: 1.05;
}

.v-center {
  display: flex;
  align-items: center;
}

.h-center {
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.around {
  display: flex;
  justify-content: space-around;
}

.bg-primary {
  background-color: var(--primary-color);
  color:white;
  padding: 10px 20px;
}

.pointer {
  cursor: pointer;
}

.rounded {
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.card {
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.rating span {
  color: var(--gold);
}

.primary-text {
  color: var(--primary-color);
  font-weight: 700;
}

.colored-text {
  color: var(--text-color);
  font-weight: 700;
}